* {
    margin: 0;
    padding: 0;
  }

  .header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    background-image: url(IMAGES/Gallery\ of\ Duchess\ Park\ Secondary\ School\ _\ Hughes\ Condon\ Marler\ Architects\ \ -\ 6.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    width: 150px;
  }

  .nav-links {
    flex: 1;
    text-align: right;

  }

  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }

  .nav-links ul li::after {
    width: 0px;
    height: 2px;
    background-color: #1d27e6;
    display: block;
    margin: auto;
    transition: 0, 5s;
  }

  .nav-links ul li:hover::after {
    width: 100%;

  }

  .nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
  }

  .text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-box h1 {
    font-size: 50px;
  }

  .text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }

  .hero-btn:hover {
    border: 1px solid #f44366;
    background: #f44366;
    transition: 1s;
  }

  /*** Slider CSS Starts ****/
.slider img {
  width: 100%;
}
/*** Slider CSS End ****/

/*** Campus, Events and Notice Board section CSS Starts ****/
.event {
  width: 32%;
  margin-right: 1%;
  float: left;
  background-color: #fff;
  padding: 10px;
}
.event .heading {
  border-bottom: 1px solid #46b7c1;
  padding: 5px;
  color: #fff;
  background: #46b7c1;
  text-align: center;
}
.event ul li {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  list-style: none;
}
.event-date {
  background: #46b7c1;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #fff;
  padding: 8px 12px;
  margin-right: 10px;
}

/*** Campus, Events and Notice Board section CSS End ****/

/**** About Us CSS Starts ****/  
.about-us div {
  width: 45%;
  float: left;
  line-height: 30px;
  font-size: 18px;
}
.about-us h4 {
  font-size: 22px;
}
.about-us p {
  line-height: 42px;
}
.about-us img {
  width: 50%;
  float: right;
  height: 600px;
}
/**** About Us CSS Ends ****/

.wpb_content_element{
  margin-bottom: 35px;
}

.inner-page section.acadaemic-programs .acadaemic figure{
  position: relative;
  overflow: hidden;
  background-color: #fafafa;
}
figure{
  display: block;
  margin: 0;
}

div{
  display: block;
  unicode-bidi: isolate;
}
body{
  font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    color: #948574;
}

.img-responsive{
  float: left;
  width: 337px;
}

.vc_row {
  margin-left: 15px;
  margin-right: 15px;
}

.vc_row:after, .vc_row:before {
  content: " ";
  display: table;
}

  


  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

  }

  .footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }

  .icons .fa{
    color: rgb(3, 3, 255);
    margin: 43px;
    
    padding: 30px;

  }

  .fa-heart-o{
    color: red;
}